body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    text-align: center;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('serduszka.jpg');
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

h1 {
    margin-top: 50px;
}

.buttons button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 20px;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.hidden {
    display: none;
}

.kitten-img {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}